{
  "swagger": "2.0",
  "info": {
    "title": "Edge Compute",
    "version": "1.0.0",
    "contact": {
      "name": "StackPath Support",
      "url": "https://support.stackpath.com/"
    }
  },
  "host": "gateway.stackpath.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workload/v1/locations": {
      "get": {
        "summary": "Get compute locations",
        "operationId": "GetLocations",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetLocationsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Infrastructure"
        ],
        "description": "Retrieve information about the StackPath edge network that can host a compute workload"
      }
    },
    "/workload/v1/stacks/{stack_id}/images": {
      "get": {
        "summary": "Get all images",
        "description": "Only non-deprecated images are returned by default",
        "operationId": "GetImages",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetImagesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deprecated",
            "description": "If present and true, include deprecated images in the result.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/images/{image_family}": {
      "get": {
        "summary": "Get a family's images",
        "description": "Only non-deprecated images are returned by default. This will not error but instead return an empty list if the family is not found.",
        "operationId": "GetImagesForFamily",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetImagesForFamilyResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "An image family",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deprecated",
            "description": "If present and true, include deprecated images in the result.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      },
      "delete": {
        "summary": "Delete a family's images",
        "description": "",
        "operationId": "DeleteImagesForFamily",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "An image family",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/images/{image_family}/{image_tag}": {
      "post": {
        "summary": "Create an image",
        "operationId": "CreateImage",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1CreateImageResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "The image's family",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "The image's tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateImageRequest"
            }
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      },
      "patch": {
        "summary": "Update an image",
        "description": "Only metadata and description can be updated. The metadata, if set, replaces the entire existing metadata set. The tag cannot be \"default\".",
        "operationId": "UpdateImage",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1UpdateImageResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "An image's family!",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "An image's tag!",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateImageRequest"
            }
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      },
      "get": {
        "summary": "Get an image",
        "description": "",
        "operationId": "GetImage",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetImageResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "An image family",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "An image tag",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "default"
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      },
      "delete": {
        "summary": "Delete an image",
        "operationId": "DeleteImage",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "An image's family",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "An image's tag",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/images/{image_family}/{image_tag}/deprecation": {
      "put": {
        "summary": "Update deprecation settings",
        "description": "This replaces an image's deprecation settings, so it can also undeprecate an image.",
        "operationId": "UpdateImageDeprecation",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1UpdateImageDeprecationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "An image family",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "An image tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ImageDeprecation"
            }
          }
        ],
        "tags": [
          "Virtual Machine Images"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/metrics": {
      "get": {
        "summary": "Get metrics",
        "operationId": "GetMetrics",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/prometheusMetrics"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "A lower bound date to search metrics for.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "description": "An upper bound date to search metrics for.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "BANDWIDTH",
              "INSTANCE"
            ],
            "default": "BANDWIDTH"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DEFAULT",
              "PT5M",
              "PT1H",
              "P1D",
              "PT1M"
            ],
            "default": "DEFAULT"
          },
          {
            "name": "instance_name",
            "description": "An EdgeCompute workload instance name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pop",
            "description": "A StackPath POP to filter traffic metrics for. This field does not apply when retrieving INSTANCE type metrics",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ALL",
              "LOCAL_NODE",
              "LOCAL_POP",
              "NORTH_AMERICA",
              "EUROPE",
              "ASIA",
              "OCEANIA",
              "SOUTH_AMERICA",
              "MARKETPLACE",
              "INTERNAL",
              "INTERNET",
              "AFRICA",
              "MIDDLE_EAST"
            ],
            "default": "ALL"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "NONE",
              "INSTANCE_NAME"
            ],
            "default": "NONE"
          },
          {
            "name": "grouping",
            "description": "List of fields to group by.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Metrics"
        ],
        "description": "Retrieve usage metrics for all workloads in a stack, a specific workload, or a specific instance in a workload"
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads": {
      "get": {
        "summary": "Get all workloads",
        "operationId": "GetWorkloads",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Workloads"
        ]
      },
      "post": {
        "summary": "Create a workload",
        "operationId": "CreateWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1CreateWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateWorkloadRequest"
            }
          }
        ],
        "tags": [
          "Workloads"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}": {
      "put": {
        "summary": "Replace a workload",
        "operationId": "PutWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1PutWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1PutWorkloadRequest"
            }
          }
        ],
        "tags": [
          "Workloads"
        ]
      },
      "get": {
        "summary": "Get a workload",
        "operationId": "GetWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Workloads"
        ]
      },
      "delete": {
        "summary": "Delete a workload",
        "operationId": "DeleteWorkload",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Workloads"
        ]
      },
      "patch": {
        "summary": "Update a workload",
        "operationId": "UpdateWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1UpdateWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateWorkloadRequest"
            }
          }
        ],
        "tags": [
          "Workloads"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances": {
      "get": {
        "summary": "Get all workload instances",
        "operationId": "GetWorkloadInstances",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadInstancesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Instances"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}": {
      "get": {
        "summary": "Get a workload instance",
        "operationId": "GetWorkloadInstance",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadInstanceResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_name",
            "description": "An EdgeCompute workload instance name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instances"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}/logs": {
      "get": {
        "summary": "Get log stream",
        "description": "Retrieve a stream of logs generated by a workload instance's containers. Logs are generated by the containers and are not modified by StackPath. Log contents vary by the application running in the container, though many containerized applications are configured to log to STDOUT and STDERR.",
        "operationId": "GetLogs",
        "responses": {
          "200": {
            "description": "(streaming responses)",
            "schema": {
              "$ref": "#/definitions/v1LogChunk"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "An EdgeCompute workload ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_name",
            "description": "An EdgeCompute workload instance name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "container_name",
            "description": "The name of the container to obtain logs for. This defaults to first container in the instance.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "follow",
            "description": "Whether or not to follow the instance's log stream. This defaults to false.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          },
          {
            "name": "previous",
            "description": "Whether or not to return log entries made by previously terminated containers. This defaults to false.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          },
          {
            "name": "since_seconds",
            "description": "A relative time in seconds before the current time from which to show logs. If this value precedes the time an instance was started, only logs since the instance's start time will be returned. If this value is in the future, no logs will be returned.\n\nOnly one of since_seconds or since_time may be specified",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "since_time",
            "description": "An RFC3339 timestamp from which to show logs. If this value precedes the time an instance was started, only logs since the instance's start time will be returned. If this value is in the future, no logs will be returned.\n\nOnly one of since_seconds or since_time may be specified",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timestamps",
            "description": "Whether or not to add an RFC3339 or RFC3339Nano timestamp at the beginning of every line of log output. This defaults to false.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          },
          {
            "name": "tail_lines",
            "description": "The number of lines from the end of the logs to show. If not specified, logs are shown from the creation of the container or since_seconds or since_time.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit_bytes",
            "description": "The number of bytes to read from the server before terminating log output. This may not display a complete final line of logging, and may return slightly more or slightly less than the specified limit.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Instance Logs"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}/passwords/initial": {
      "get": {
        "summary": "Get an instance's initial password",
        "operationId": "GetWorkloadInstanceInitialPassword",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadInstanceInitialPasswordResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "workload_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "An EdgeCompute workload ID"
          },
          {
            "name": "instance_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "An EdgeCompute workload instance name"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}/power/restart": {
      "post": {
        "summary": "Restart a workload instance",
        "description": "The action is performed asynchronously and a successful response does not mean the instance has restarted yet.",
        "operationId": "RestartInstance",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "workload_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "An EdgeCompute workload ID"
          },
          {
            "name": "instance_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "An EdgeCompute workload instance name"
          }
        ],
        "tags": [
          "Instances"
        ]
      }
    }
  },
  "definitions": {
    "ContainerStatusRunning": {
      "type": "object",
      "properties": {
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date a container started"
        }
      },
      "description": "Properties related to running containers"
    },
    "ContainerStatusTerminated": {
      "type": "object",
      "properties": {
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "The exit code of the command that started the container"
        },
        "reason": {
          "type": "string",
          "description": "The reason a container terminated"
        },
        "message": {
          "type": "string",
          "description": "A more detailed explanation of a container's termination"
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date a container started"
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date a container terminated"
        }
      },
      "description": "Properties related to terminated containers"
    },
    "ContainerStatusWaiting": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason that a container is waiting to start"
        },
        "message": {
          "type": "string",
          "description": "A more detailed explanation of a container's waiting state"
        }
      },
      "description": "Properties related to containers that are starting up"
    },
    "DataMatrix": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataMatrixResult"
          },
          "description": "A data point's value"
        }
      },
      "description": "A set of time series containing a range of data points over time for each time series"
    },
    "DataMatrixResult": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The data points' labels"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataValue"
          },
          "description": "Time series data point values"
        }
      },
      "description": "Time series containing a range of data points over time for each time series"
    },
    "DataValue": {
      "type": "object",
      "properties": {
        "unixTime": {
          "type": "string",
          "description": "The time that a data point was recorded"
        },
        "value": {
          "type": "string",
          "description": "A data point's value"
        }
      },
      "description": "An individual metric data point"
    },
    "DataVector": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataVectorResult"
          },
          "description": "A data point's value"
        }
      },
      "description": "A set of time series containing a single sample for each time series, all sharing the same timestamp"
    },
    "DataVectorResult": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The data points' labels"
        },
        "value": {
          "$ref": "#/definitions/DataValue"
        }
      },
      "description": "Time series containing a single sample for each time series, all sharing the same timestamp"
    },
    "MetricsData": {
      "type": "object",
      "properties": {
        "matrix": {
          "$ref": "#/definitions/DataMatrix"
        },
        "vector": {
          "$ref": "#/definitions/DataVector"
        }
      },
      "description": "The data points in a metrics collection"
    },
    "VirtualMachineStatusPhase": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "PENDING",
        "SCHEDULING",
        "STARTING",
        "RUNNING",
        "STOPPED",
        "FAILED"
      ],
      "default": "UNKNOWN"
    },
    "VolumeClaimVolumeClaimPhase": {
      "type": "string",
      "enum": [
        "VOLUME_CLAIM_PHASE_UNSPECIFIED",
        "PENDING",
        "UNBOUND",
        "BOUND"
      ],
      "default": "VOLUME_CLAIM_PHASE_UNSPECIFIED",
      "description": "Which phase a volume claim is currently in\n\n- VOLUME_CLAIM_PHASE_UNSPECIFIED: StackPath is unable to determine the volume claim's state\n - PENDING: The volume claim is pending\n - UNBOUND: The volume claim is unbound\n - BOUND: The volume claim is bound to an instance"
    },
    "apiStatusDetail": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "required": [
        "@type"
      ],
      "discriminator": "@type"
    },
    "paginationPageInfo": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "string",
          "description": "The total number of items in the dataset"
        },
        "hasPreviousPage": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether or not a previous page of data exists"
        },
        "hasNextPage": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether or not another page of data is available"
        },
        "startCursor": {
          "type": "string",
          "description": "The cursor for the first item in the set of data returned"
        },
        "endCursor": {
          "type": "string",
          "description": "The cursor for the last item in the set of data returned"
        }
      },
      "description": "Information about a paginated response\n\nThis is modeled after the GraphQL Relay spec to support both cursor based pagination and traditional offset based pagination."
    },
    "prometheusMetrics": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/prometheusMetricsStatus"
        },
        "data": {
          "$ref": "#/definitions/MetricsData"
        },
        "errorType": {
          "type": "string",
          "description": "The type of error encountered when querying for metrics"
        },
        "error": {
          "type": "string",
          "description": "The error encountered when querying for metrics"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered when querying for metrics"
        }
      },
      "description": "A collection of metrics"
    },
    "prometheusMetricsStatus": {
      "type": "string",
      "enum": [
        "SUCCESS",
        "ERROR"
      ],
      "default": "SUCCESS",
      "description": "A metrics query's resulting status"
    },
    "stackpath.rpc.BadRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "fieldViolations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.BadRequest.FieldViolation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.BadRequest.FieldViolation": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.Help": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "links": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.Help.Link"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.Help.Link": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.LocalizedMessage": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "locale": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.PreconditionFailure": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "violations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.PreconditionFailure.Violation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.PreconditionFailure.Violation": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.QuotaFailure": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "violations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.QuotaFailure.Violation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.QuotaFailure.Violation": {
      "type": "object",
      "properties": {
        "subject": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.RequestInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "requestId": {
              "type": "string"
            },
            "servingData": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.ResourceInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "resourceType": {
              "type": "string"
            },
            "resourceName": {
              "type": "string"
            },
            "owner": {
              "type": "string"
            },
            "description": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.RetryInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "retryDelay": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpathapiStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiStatusDetail"
          }
        }
      }
    },
    "v1ContainerCapabilities": {
      "type": "object",
      "properties": {
        "add": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of supported capabilities to add in container"
        },
        "drop": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of supported capabilities to drop from container"
        }
      },
      "description": "The specification for capabilities to add/drop when running containersSupported capabilities are [cap_chown, cap_dac_override, cap_dac_read_search, cap_fowner, cap_fsetid, cap_kill, cap_setgid, cap_setuid, cap_setpcap, cap_linux_immutable,cap_net_bind_service, cap_net_broadcast, cap_net_admin, cap_net_raw, cap_ipc_lock, cap_ipc_owner,cap_sys_chroot, cap_sys_ptrace, cap_sys_pacct, cap_sys_nice, cap_mknod, cap_lease, cap_setfcap]"
    },
    "v1ContainerImagePullPolicy": {
      "type": "string",
      "enum": [
        "CONTAINER_IMAGE_PULL_POLICY_UNSPECIFIED",
        "ALWAYS",
        "IF_NOT_PRESENT"
      ],
      "default": "CONTAINER_IMAGE_PULL_POLICY_UNSPECIFIED",
      "description": "The image pull policy for the container image. The value should be one of ALWAYS or IF_NOT_PRESENT"
    },
    "v1ContainerLifecycle": {
      "type": "object",
      "properties": {
        "postStart": {
          "$ref": "#/definitions/v1ContainerLifecycleHandler"
        },
        "preStop": {
          "$ref": "#/definitions/v1ContainerLifecycleHandler"
        }
      },
      "description": "Defines actions that the management system should take in response to container lifecycle events"
    },
    "v1ContainerLifecycleHandler": {
      "type": "object",
      "properties": {
        "httpGet": {
          "$ref": "#/definitions/v1HTTPGetAction"
        },
        "tcpSocket": {
          "$ref": "#/definitions/v1TCPSocketAction"
        },
        "exec": {
          "$ref": "#/definitions/v1ExecAction"
        }
      },
      "description": "Defines a specific lifecycle management action that should be taken"
    },
    "v1ContainerSecurityContext": {
      "type": "object",
      "properties": {
        "runAsUser": {
          "type": "string",
          "description": "The user UID to run the entry point of the container process"
        },
        "runAsGroup": {
          "type": "string",
          "description": "The user GID to run the entry point of the container process"
        },
        "runAsNonRoot": {
          "type": "boolean",
          "format": "boolean",
          "description": "Indicates that the container must run as a non-root user"
        },
        "readOnlyRootFilesystem": {
          "type": "boolean",
          "format": "boolean",
          "description": "Indicates whether this container has a read-only root filesystem"
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "format": "boolean",
          "description": "Controls whether a process can gain more privileges than its parent process"
        },
        "capabilities": {
          "$ref": "#/definitions/v1ContainerCapabilities"
        }
      },
      "description": "Security configuration that will be applied to a container"
    },
    "v1ContainerSpec": {
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "The location of a Docker image to run as a container"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The commands that start a container"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to the container entry point"
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory"
        },
        "env": {
          "$ref": "#/definitions/v1EnvironmentVariableMapEntry"
        },
        "ports": {
          "$ref": "#/definitions/v1InstancePortMapEntry"
        },
        "livenessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "readinessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "startupProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "resources": {
          "$ref": "#/definitions/v1ResourceRequirements"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1InstanceVolumeMount"
          },
          "description": "Volumes to mount in the container"
        },
        "lifecycle": {
          "$ref": "#/definitions/v1ContainerLifecycle"
        },
        "terminationMessagePath": {
          "type": "string",
          "description": "Mounted file path at which the container's termination message will be written"
        },
        "terminationMessagePolicy": {
          "$ref": "#/definitions/v1ContainerTerminationMessagePolicy"
        },
        "imagePullPolicy": {
          "$ref": "#/definitions/v1ContainerImagePullPolicy"
        },
        "securityContext": {
          "$ref": "#/definitions/v1ContainerSecurityContext"
        }
      },
      "description": "The specification for the desired state of a container in a workload"
    },
    "v1ContainerSpecMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1ContainerSpec"
      },
      "description": "A string to container configuration key/value pair"
    },
    "v1ContainerStatus": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A container status' name"
        },
        "phase": {
          "$ref": "#/definitions/v1ContainerStatusContainerPhase"
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date a container started"
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date a container terminated"
        },
        "waiting": {
          "$ref": "#/definitions/ContainerStatusWaiting"
        },
        "running": {
          "$ref": "#/definitions/ContainerStatusRunning"
        },
        "terminated": {
          "$ref": "#/definitions/ContainerStatusTerminated"
        },
        "ready": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether or not a container is running and ready for service"
        },
        "restartCount": {
          "type": "integer",
          "format": "int32",
          "description": "How many times a container has restarted since it was first started"
        },
        "containerId": {
          "type": "string",
          "description": "A unique value that identifies a container"
        }
      },
      "description": "The status of a container in a workload"
    },
    "v1ContainerStatusContainerPhase": {
      "type": "string",
      "enum": [
        "CONTAINER_PHASE_UNSPECIFIED",
        "STARTING",
        "RUNNING",
        "FAILED",
        "STOPPED"
      ],
      "default": "CONTAINER_PHASE_UNSPECIFIED",
      "description": "Which phase of runtime a container is currently in\n\n- CONTAINER_PHASE_UNSPECIFIED: The container has not reported a state back or StackPath is unable to determine the container's state\n - STARTING: The container is starting up\n - RUNNING: The container is running\n - FAILED: The container has terminated due to a failure\n - STOPPED: The container was terminated by the user"
    },
    "v1ContainerTerminationMessagePolicy": {
      "type": "string",
      "enum": [
        "CONTAINER_TERMINATION_MESSAGE_POLICY_UNSPECIFIED",
        "FILE",
        "FALLBACK_TO_LOGS_ON_ERROR"
      ],
      "default": "CONTAINER_TERMINATION_MESSAGE_POLICY_UNSPECIFIED",
      "description": "The policy indicating how the termination message should be populated"
    },
    "v1CreateImageRequest": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        },
        "instanceVolumeSource": {
          "$ref": "#/definitions/v1ImageSourceInstanceVolume"
        }
      },
      "title": ""
    },
    "v1CreateImageResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "description": "A response from a request to create an image"
    },
    "v1CreateWorkloadRequest": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": ""
    },
    "v1CreateWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "description": "A response from a request to add a workload to a stack"
    },
    "v1DNSConfig": {
      "type": "object",
      "properties": {
        "nameservers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of DNS name server IP addresses"
        },
        "searches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of DNS search domains for hostname lookup"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1DNSConfigOption"
          },
          "description": "A list of DNS resolver options"
        }
      },
      "description": "Specification to control DNS settings for workload instanceIt is used to control resolver config such as DNS nameservers, search domains and resolver options for workload instance"
    },
    "v1DNSConfigOption": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "DNS config name"
        },
        "value": {
          "type": "string",
          "description": "DNS config value"
        }
      },
      "description": "Specification for DNS resolver options, More information about DNS resolveroptions are available here - https://www.man7.org/linux/man-pages/man5/resolv.conf.5.html"
    },
    "v1DeploymentSpec": {
      "type": "object",
      "properties": {
        "minReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of instances in a deployment"
        },
        "maxReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of instances in a deployment"
        },
        "scaleSettings": {
          "$ref": "#/definitions/v1ScaleSettings"
        },
        "selectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1MatchExpression"
          },
          "description": "A collection of filters that match the deployment's scope"
        }
      },
      "description": "A deployment's specification"
    },
    "v1DockerRegistryCredentials": {
      "type": "object",
      "properties": {
        "server": {
          "type": "string",
          "description": "The server that the credentials should be used with\n\nThe server that the credentials should be used with. This value will default to the docker hub registry when not set."
        },
        "username": {
          "type": "string",
          "description": "The username that should be used for authenticate the image pull"
        },
        "password": {
          "type": "string",
          "description": "The password that should be used to authenticate the image pull"
        },
        "email": {
          "type": "string",
          "description": "The email address to use for the docker registry account"
        }
      },
      "description": "The authentication configuration that should be used to pull images from a docker registry"
    },
    "v1EnvironmentVariable": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "An environment variable's value"
        },
        "secretValue": {
          "type": "string",
          "description": "A sensitive environment variable that should not be exposed"
        },
        "valueFrom": {
          "$ref": "#/definitions/v1EnvironmentVariableSource"
        }
      },
      "description": "The location to obtain a value for an environment variable"
    },
    "v1EnvironmentVariableMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1EnvironmentVariable"
      },
      "description": "A string to environment variable key/value pair"
    },
    "v1EnvironmentVariableSource": {
      "type": "object",
      "properties": {
        "instanceFieldRef": {
          "$ref": "#/definitions/v1InstanceFieldRef"
        }
      },
      "description": "An environment variable derived from an external source"
    },
    "v1ExecAction": {
      "type": "object",
      "properties": {
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Command to run in container through container exec"
        }
      },
      "description": "Execute an command inside container through container exec for probes/lifecycle actions"
    },
    "v1GetImageResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "description": "A response from a request to retrieve an individual image"
    },
    "v1GetImagesForFamilyResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Image"
          },
          "description": "The requested images"
        }
      },
      "description": "A response from a request to retrieve images by a family"
    },
    "v1GetImagesResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Image"
          },
          "description": "The requested images"
        }
      },
      "description": "A response from a request to retrieve images for a stack"
    },
    "v1GetLocationsResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/workloadv1Location"
          },
          "description": "The requested locations"
        }
      },
      "description": "A response from a request to retrieve the locations a workload may be created at"
    },
    "v1GetWorkloadInstanceInitialPasswordResponse": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        }
      },
      "description": "A response from a request to retrieve a workload's instance's initial password"
    },
    "v1GetWorkloadInstanceResponse": {
      "type": "object",
      "properties": {
        "instance": {
          "$ref": "#/definitions/workloadv1Instance"
        }
      },
      "description": "A response from a request to retrieve a workload's instances"
    },
    "v1GetWorkloadInstancesResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/workloadv1Instance"
          },
          "description": "The requested workload instances"
        }
      },
      "description": "A response from a request to retrieve a workload's instances"
    },
    "v1GetWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "description": "A response from a request to retrieve an individual workload"
    },
    "v1GetWorkloadsResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Workload"
          },
          "description": "The requested workloads"
        }
      },
      "description": "A response from a request to retrieve a stack's workloads"
    },
    "v1HTTPGetAction": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The path portion of the URL to request"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port to query in the HTTP request"
        },
        "scheme": {
          "type": "string",
          "description": "HTTP scheme to use in the HTTP request"
        },
        "httpHeaders": {
          "$ref": "#/definitions/v1StringMapEntry"
        }
      },
      "description": "Execute an HTTP GET request against an endpoint running on an instance"
    },
    "v1HostAlias": {
      "type": "object",
      "properties": {
        "ip": {
          "type": "string",
          "description": "An IP address to be injected in container workload instance's host file"
        },
        "hostnames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of hostnames to be injected in container workload instance's host file"
        }
      },
      "description": "The hosts and IPs that will be injected into the container workload instance's hosts file"
    },
    "v1IPFamily": {
      "type": "string",
      "enum": [
        "IP_FAMILY_UNSPECIFIED",
        "IPv4",
        "IPv6"
      ],
      "default": "IP_FAMILY_UNSPECIFIED",
      "description": "supported IP families\n\n- IP_FAMILY_UNSPECIFIED: Unknown IP family\n - IPv4: IPv4 IP family.\n - IPv6: IPv6 IP family. Currently, IPv6 IP family must be used with IPv4."
    },
    "v1Image": {
      "type": "object",
      "properties": {
        "stackId": {
          "type": "string",
          "readOnly": true,
          "description": "The ID of the stack that an image belongs to"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An image's unique identifier"
        },
        "family": {
          "type": "string",
          "description": "An image's family\n\nFamilies are logical groupings of images"
        },
        "tag": {
          "type": "string",
          "description": "The image's tag\n\nImage tags are akin to versions"
        },
        "metadata": {
          "$ref": "#/definitions/v1ImageMetadata"
        },
        "description": {
          "type": "string",
          "description": "An image's description\n\nThis is optional and may not be more than 1,000 characters"
        },
        "status": {
          "$ref": "#/definitions/v1ImageStatus",
          "readOnly": true,
          "description": "An image's capture status"
        },
        "imageSize": {
          "type": "string",
          "description": "An image's archive size in bytes\n\nThis is only available on ready images",
          "readOnly": true
        },
        "volumeSize": {
          "type": "string",
          "description": "An image's volume size in bytes\n\nThis is only available on ready images",
          "readOnly": true
        },
        "deprecation": {
          "$ref": "#/definitions/v1ImageDeprecation"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ImageCondition"
          },
          "readOnly": true,
          "description": "Details about an image's status"
        },
        "capabilities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A virtual machine image"
    },
    "v1ImageCondition": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the condition"
        },
        "status": {
          "$ref": "#/definitions/v1ImageConditionStatus"
        },
        "checkedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The last time the condition was checked"
        },
        "transitionedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The last time the condition transitioned status"
        },
        "reason": {
          "type": "string",
          "description": "A stable identifier for the reason the condition is in its current state"
        },
        "message": {
          "type": "string",
          "description": "A human readable message with details regarding the condition"
        }
      },
      "description": "Further information about an image's status"
    },
    "v1ImageConditionStatus": {
      "type": "string",
      "enum": [
        "IMAGE_CONDITION_STATUS_UNKNOWN",
        "TRUE",
        "FALSE"
      ],
      "default": "IMAGE_CONDITION_STATUS_UNKNOWN",
      "description": "Which status an image is currently in\n\n- IMAGE_CONDITION_STATUS_UNKNOWN: The condition status is unknown\n - TRUE: The condition is true\n - FALSE: The condition is false"
    },
    "v1ImageDeprecation": {
      "type": "object",
      "properties": {
        "deprecationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when an image is considered deprecated\n\nDeprecated images may be used in new virtual machine based workloads, but are no longer considered for the \"default\" tag, nor are they returned in image lists by default."
        },
        "obsoletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when an image is considered obsolete\n\nObsolete images may not be used in new virtual machine based workloads. If an obsoletion date is present then the deprecation date must also be present with a same or earlier date."
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when an image is deleted\n\nDeletion dates cannot be before an image's deprecation or obsoletion dates."
        }
      },
      "description": "An image's deprecation settings"
    },
    "v1ImageMetadata": {
      "type": "object",
      "properties": {
        "annotations": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "labels": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date that a workload image was created\n\nThe date an image was created",
          "readOnly": true,
          "x-nullable": true
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date that a workload image was last updated\n\nThe date an image was last updated",
          "readOnly": true,
          "x-nullable": true
        }
      },
      "description": "An image's metadata"
    },
    "v1ImagePullCredential": {
      "type": "object",
      "properties": {
        "dockerRegistry": {
          "$ref": "#/definitions/v1DockerRegistryCredentials"
        }
      },
      "description": "The credentials that should be used to pull the container image"
    },
    "v1ImageSourceInstanceVolume": {
      "type": "object",
      "properties": {
        "workloadId": {
          "type": "string",
          "description": "The ID or slug of the workload containing the instance to reference"
        },
        "instanceName": {
          "type": "string",
          "description": "An instance's name to reference a volume on"
        },
        "volumeClaimSlug": {
          "type": "string",
          "description": "A reference to the volume to create an image from or unset for the root volume"
        }
      },
      "description": "A reference to the volume of an instance to capture an image from"
    },
    "v1ImageStatus": {
      "type": "string",
      "enum": [
        "IMAGE_STATUS_UNKNOWN",
        "PENDING",
        "PROCESSING",
        "READY",
        "FAILED"
      ],
      "default": "IMAGE_STATUS_UNKNOWN",
      "description": "Which capture status an image is currently in\n\n- IMAGE_STATUS_UNKNOWN: The image status is unknown\n - PENDING: The image is pending creation\n - PROCESSING: The image is processing\n - READY: The image is ready\n - FAILED: The image failed to be created"
    },
    "v1InstanceFieldRef": {
      "type": "object",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "An instance field's path\n\nA [JSON path expression](https://jsonpath.com/) to an instance field. For example:\n\n * `.name`\n * `.location.cityCode`\n * `.ipAddress`\n * `.containers[0].image`\n * `.networkInterfaces[?(@.network==\\\"default\\\")].gateway`\n\nDots inside of map keys need to be escaped: `.metadata.labels['workload\\\\.platform\\\\.stackpath\\\\.net/workload-slug']`. Recursive descent, union operators, and range/end operators are not allowed.\n"
        },
        "optional": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether the field value is not required to start an instance\n\nIf a field is optional then there is no guarantee it will be provided to the environment before the container starts."
        }
      },
      "description": "A reference to a workload instance field"
    },
    "v1InstancePort": {
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The network port"
        },
        "protocol": {
          "type": "string",
          "description": "The network protocol for the port\n\nValues are either \"TCP\" or \"UDP\". Defaults to \"TCP\"."
        },
        "enableImplicitNetworkPolicy": {
          "type": "boolean",
          "format": "boolean",
          "description": "Allow the internet to connect to the port\n\nWhen true, this port will be given an implicit network policy of priority 65534 permitting 0.0.0.0/0 access to the port. This can be overridden by creating network policies of a higher priority to block the port."
        }
      },
      "description": "A named port for an instance of a workload"
    },
    "v1InstancePortMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1InstancePort"
      },
      "description": "A string to network port key/value pair"
    },
    "v1InstanceVolumeMount": {
      "type": "object",
      "properties": {
        "slug": {
          "type": "string",
          "description": "The slug of the volume claim to mount"
        },
        "mountPath": {
          "type": "string",
          "description": "The path in an instance to mount a volume"
        }
      },
      "description": "Describes mounting a volume on containers or vms in an instance"
    },
    "v1LogChunk": {
      "type": "object",
      "properties": {
        "bytes": {
          "type": "string",
          "format": "byte",
          "description": "Raw log contents"
        }
      },
      "description": "A chunk of raw log data"
    },
    "v1MatchExpression": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The name of the selector to perform a match against"
        },
        "operator": {
          "type": "string",
          "description": "The operation to perform to match a selector\n\nValid values are \"In\", \"NotIn\", \"Exists\", and \"DoesNotExist\"."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The values to match in the selector"
        }
      },
      "description": "An expression to match selectors against a set of values"
    },
    "v1Metadata": {
      "type": "object",
      "properties": {
        "annotations": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "labels": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "description": "The date that a metadata entry was created"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "description": "The date that a metadata entry was last updated"
        },
        "deleteRequestedAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "description": "The date an entity was requested to be deleted"
        },
        "version": {
          "type": "string",
          "description": "A metadata entry's version number\n\nMetadata versions start at 1 when they are created and increment by 1 every time they are updated."
        }
      },
      "description": "Metadata associated with an entity"
    },
    "v1MetricSpec": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "description": "The metric to measure against"
        },
        "averageValue": {
          "type": "string",
          "description": "The target average value for the metric measured across all instances within a deployment, expressed as a quantity."
        },
        "averageUtilization": {
          "type": "integer",
          "format": "int32",
          "description": "The target average value for the metric measured across all instances within a deployment, expressed as a percentage of requested resources."
        }
      }
    },
    "v1NetworkInterface": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "A network interface's slug"
        },
        "ipFamilies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1IPFamily"
          },
          "description": "A list of IP families to use for interface ip assignments\n\nThis is an optional property and supports ['IPv4'] or ['IPv4', 'IPv6'] list"
        },
        "subnet": {
          "type": "string",
          "description": "An IPv4 subnet interface's slug. This is an optional property used to attach a specific network interface to a IPv4 subnet."
        },
        "ipv6Subnet": {
          "type": "string",
          "description": "An IPv6 subnet interface's slug. This is an optional property used to attach a specific network interface to a ipv6 subnet."
        },
        "enableOneToOneNat": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether to provide [one-to-one NAT](https://en.wikipedia.org/wiki/Network_address_translation#Basic_NAT) for this network interface\n\nThis is an optional property used to enable or disable the NAT'ing the network interface. NAT is enabled by default on the first/primary interface and disabled on secondary/multi interfaces.\n\nMark this property `false` to disable NAT on the first interface. Mark this property `true` to enable NAT on secondary interfaces.\n\nThe `ExcludeNAT` workload annotation supercedes this property."
        }
      },
      "description": "Network interfaces that will be created on instances in the workload"
    },
    "v1Probe": {
      "type": "object",
      "properties": {
        "httpGet": {
          "$ref": "#/definitions/v1HTTPGetAction"
        },
        "tcpSocket": {
          "$ref": "#/definitions/v1TCPSocketAction"
        },
        "exec": {
          "$ref": "#/definitions/v1ExecAction"
        },
        "initialDelaySeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The number of seconds after a workload instance has started before liveness probes are initiated"
        },
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The number of seconds after which a probe times out\n\nDefaults to 1 second. Minimum value is 1."
        },
        "periodSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "How often, in seconds, to perform a probe\n\nDefault to 10 seconds. Minimum value is 1."
        },
        "successThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum consecutive successes for a probe to be considered successful after having failed\n\nDefaults to 1. Must be 1 for liveness. Minimum value is 1."
        },
        "failureThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum consecutive failures for a probe to be considered failed after having succeeded\n\nDefaults to 3. Minimum value is 1."
        }
      },
      "description": "A health check probe against a workload instance to determine if it is alive or ready to receive traffic"
    },
    "v1PutWorkloadRequest": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": ""
    },
    "v1PutWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "description": "A response from a request to replace an existing workload"
    },
    "v1ResourceRequirements": {
      "type": "object",
      "properties": {
        "requests": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "limits": {
          "$ref": "#/definitions/v1StringMapEntry"
        }
      },
      "description": "Resource requirements are key/value pairs.\n\nResource requirements for an object. The values supported by workloads are:\n- cpu\n- memory\n- nvidia-a2: limited to specific markets\n- ephemeral-storage: deprecated and has no effect"
    },
    "v1ScaleSettings": {
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1MetricSpec"
          },
          "description": "Metrics to observe for invoking scaling events."
        }
      }
    },
    "v1StringMapEntry": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "A string to string key/value pair"
    },
    "v1Sysctl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Sysctl property name"
        },
        "value": {
          "type": "string",
          "description": "Sysctl property value"
        }
      },
      "description": "Kernel sysctl parameter to optimize the performance of a container"
    },
    "v1TCPSocketAction": {
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port to quert"
        }
      },
      "description": "Connect to an instance's TCP port"
    },
    "v1Target": {
      "type": "object",
      "properties": {
        "spec": {
          "$ref": "#/definitions/v1TargetSpec"
        }
      },
      "description": "How instances in a workload should be deployed"
    },
    "v1TargetMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1Target"
      },
      "description": "A string to deployment target key/value pair"
    },
    "v1TargetSpec": {
      "type": "object",
      "properties": {
        "deploymentScope": {
          "type": "string",
          "description": "The scope at which a deployment should be created. Valid values are: \"cityCode\""
        },
        "deployments": {
          "$ref": "#/definitions/v1DeploymentSpec"
        }
      },
      "description": "The specification for a target"
    },
    "v1UpdateImageDeprecationResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "description": "A response from a request to update image deprecation settings"
    },
    "v1UpdateImageRequest": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "title": ""
    },
    "v1UpdateImageResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "description": "A response from a request to update an image"
    },
    "v1UpdateWorkloadRequest": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": ""
    },
    "v1UpdateWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "description": "A response from a request to update a workload"
    },
    "v1VirtualMachineSpec": {
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "The image to use for the virtual machine\n\nThis is in the format of <stack-slug>/<image-family>[:<image-tag>]. If the image tag portion is omitted, 'default' is assumed which is the most recently created, ready, and non-deprecated image of that slug. A set of common images is present on the 'stackpath-edge' stack."
        },
        "userData": {
          "type": "string",
          "format": "base64",
          "description": "Base64 encoded cloud-init compatible user-data"
        },
        "ports": {
          "$ref": "#/definitions/v1InstancePortMapEntry"
        },
        "livenessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "readinessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "resources": {
          "$ref": "#/definitions/v1ResourceRequirements"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1InstanceVolumeMount"
          },
          "description": "Volumes to mount in the virtual machine"
        }
      },
      "description": "The specification for the desired state of a virtual machine in a workload"
    },
    "v1VirtualMachineSpecMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1VirtualMachineSpec"
      },
      "description": "A string to virtual machine configuration key/value pair"
    },
    "v1VirtualMachineStatus": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the virtual machine the status applies to"
        },
        "phase": {
          "$ref": "#/definitions/VirtualMachineStatusPhase"
        },
        "reason": {
          "type": "string",
          "description": "A short reason why the virtual machine is in its current phase"
        },
        "message": {
          "type": "string",
          "description": "A longer message with details about why the virtual machine is in its current phase"
        }
      },
      "description": "The status of a Virtual Machine"
    },
    "v1VolumeClaim": {
      "type": "object",
      "properties": {
        "stackId": {
          "type": "string",
          "readOnly": true,
          "description": "The ID of the stack that a volume claim belongs to"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "A volume claim's unique identifier"
        },
        "name": {
          "type": "string",
          "description": "A volume claim's name as it appears in the StackPath portal"
        },
        "slug": {
          "type": "string",
          "description": "A volume claim's programmatic name\n\nVolume claim slugs are used to programatically label a claim"
        },
        "metadata": {
          "$ref": "#/definitions/v1Metadata"
        },
        "spec": {
          "$ref": "#/definitions/v1VolumeClaimSpec"
        },
        "phase": {
          "$ref": "#/definitions/VolumeClaimVolumeClaimPhase",
          "readOnly": true
        }
      },
      "description": "A claim for a volume\n\nVolumes may be attached to workload instance containers or virtual machines"
    },
    "v1VolumeClaimSpec": {
      "type": "object",
      "properties": {
        "resources": {
          "$ref": "#/definitions/v1ResourceRequirements"
        },
        "storageClass": {
          "type": "string",
          "description": "Storage class for a volume claim\n\nThis defaults to the 'stackpath-edge/san' value if none is provided."
        }
      },
      "description": "The specification for a volume claim"
    },
    "v1Workload": {
      "type": "object",
      "properties": {
        "stackId": {
          "type": "string",
          "readOnly": true,
          "description": "The ID of the stack that a workload belongs to"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "A workload's unique identifier"
        },
        "name": {
          "type": "string",
          "description": "A workload's name as it appears in the StackPath portal"
        },
        "slug": {
          "type": "string",
          "description": "A workload's programmatic name\n\nWorkload slugs are used to build its instances names"
        },
        "metadata": {
          "$ref": "#/definitions/v1Metadata"
        },
        "spec": {
          "$ref": "#/definitions/v1WorkloadSpec"
        },
        "targets": {
          "$ref": "#/definitions/v1TargetMapEntry"
        },
        "status": {
          "$ref": "#/definitions/v1WorkloadStatus",
          "readOnly": true
        }
      },
      "description": "A computing workload\n\nWorkloads define a computing application to deploy to StackPath's edge network."
    },
    "v1WorkloadInstanceContainerRuntimeSettings": {
      "type": "object",
      "properties": {
        "terminationGracePeriodSeconds": {
          "type": "string",
          "description": "The duration in seconds the workload instance needs to terminate gracefully. The value should belong to [0-300] seconds range"
        },
        "shareProcessNamespace": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether to run all containers of workload instance in a single process namespace"
        },
        "securityContext": {
          "$ref": "#/definitions/v1WorkloadInstanceSecurityContext"
        },
        "hostAliases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1HostAlias"
          },
          "description": "The list of hosts and IPs that will be injected into the workload instance's hosts file"
        },
        "dnsConfig": {
          "$ref": "#/definitions/v1DNSConfig"
        }
      },
      "description": "The specification for container settings which are applicable to all workload instance containers"
    },
    "v1WorkloadInstanceRuntimeSettings": {
      "type": "object",
      "properties": {
        "containers": {
          "$ref": "#/definitions/v1WorkloadInstanceContainerRuntimeSettings"
        },
        "virtualMachines": {
          "$ref": "#/definitions/v1WorkloadInstanceVMRuntimeSettings"
        }
      },
      "description": "The specification for workload instance level settings"
    },
    "v1WorkloadInstanceSecurityContext": {
      "type": "object",
[...]
