{
  "swagger": "2.0",
  "info": {
    "title": "Edge Compute Networking",
    "version": "1.0.0",
    "contact": {
      "name": "StackPath Support",
      "url": "https://support.stackpath.com/"
    }
  },
  "host": "gateway.stackpath.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/ipam/v1/stacks/{stack_id}/network_policies": {
      "post": {
        "summary": "Create a policy",
        "operationId": "CreateNetworkPolicy",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1CreateNetworkPolicyResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateNetworkPolicyRequest"
            }
          }
        ],
        "tags": [
          "Network Policies"
        ]
      },
      "get": {
        "tags": [
          "Network Policies"
        ],
        "summary": "Get all policies",
        "operationId": "GetNetworkPolicies",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetNetworkPoliciesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/ipam/v1/stacks/{stack_id}/network_policies/{network_policy_id}": {
      "put": {
        "summary": "Update a policy",
        "operationId": "UpdateNetworkPolicy",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1UpdateNetworkPolicyResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "network_policy_id",
            "description": "An EdgeCompute network policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateNetworkPolicyRequest"
            }
          }
        ],
        "tags": [
          "Network Policies"
        ]
      },
      "get": {
        "summary": "Get a policy",
        "tags": [
          "Network Policies"
        ],
        "operationId": "GetNetworkPolicy",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetNetworkPolicyResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "network_policy_id",
            "description": "An EdgeCompute network policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "summary": "Delete a policy",
        "tags": [
          "Network Policies"
        ],
        "operationId": "DeleteNetworkPolicy",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "network_policy_id",
            "description": "An EdgeCompute network policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/ipam/v1/stacks/{stack_id}/networks": {
      "get": {
        "summary": "Get all VPC networks",
        "operationId": "GetNetworks",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkGetNetworksResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ]
      },
      "post": {
        "summary": "Create a VPC network",
        "operationId": "CreateNetwork",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkCreateNetworkResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networkCreateNetworkRequest"
            }
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ]
      }
    },
    "/ipam/v1/stacks/{stack_id}/networks/{network_id}": {
      "get": {
        "summary": "Get a VPC network",
        "operationId": "GetNetwork",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkGetNetworkResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC network ID or slug"
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ]
      },
      "delete": {
        "summary": "Delete a VPC network",
        "operationId": "DeleteNetwork",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC network ID or slug"
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ]
      },
      "patch": {
        "summary": "Update a VPC network",
        "operationId": "UpdateNetwork",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkUpdateNetworkResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC network ID or slug"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networkUpdateNetworkRequest"
            }
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ],
        "description": "Only a network's name may be updated"
      }
    },
    "/ipam/v1alpha/stacks/{stack_id}/networks/{network_id}/routes": {
      "post": {
        "operationId": "CreateRoute",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkCreateRouteResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "network_id",
            "description": "A VPC network ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networkCreateRouteRequest"
            }
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ],
        "description": "[block:callout]\n{\n  \"type\": \"danger\",\n  \"body\": \"This is an alpha API call and should be considered very unstable. Please do not execute this in a production environment. See our [versioning guidelines](doc:versioning) for more information.\"\n}\n[/block]",
        "summary": "Create a network route"
      },
      "get": {
        "operationId": "GetRoutes",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkGetRoutesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC network ID or slug"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ],
        "description": "[block:callout]\n{\n  \"type\": \"danger\",\n  \"body\": \"This is an alpha API call and should be considered very unstable. Please do not execute this in a production environment. See our [versioning guidelines](doc:versioning) for more information.\"\n}\n[/block]",
        "summary": "Get all network routes"
      }
    },
    "/ipam/v1alpha/stacks/{stack_id}/networks/{network_id}/routes/{route_id}": {
      "put": {
        "operationId": "UpdateRoute",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkUpdateRouteResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "A stack ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "network_id",
            "description": "A VPC network ID or slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "route_id",
            "description": "A VPC route ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networkUpdateRouteRequest"
            }
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ],
        "description": "[block:callout]\n{\n  \"type\": \"danger\",\n  \"body\": \"This is an alpha API call and should be considered very unstable. Please do not execute this in a production environment. See our [versioning guidelines](doc:versioning) for more information.\"\n}\n[/block]",
        "summary": "Update a network route"
      },
      "get": {
        "operationId": "GetRoute",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/networkGetRouteResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC network ID or slug"
          },
          {
            "name": "route_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC route ID"
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ],
        "description": "[block:callout]\n{\n  \"type\": \"danger\",\n  \"body\": \"This is an alpha API call and should be considered very unstable. Please do not execute this in a production environment. See our [versioning guidelines](doc:versioning) for more information.\"\n}\n[/block]",
        "summary": "Get a network route"
      },
      "delete": {
        "operationId": "DeleteRoute",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/apiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A stack ID or slug"
          },
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC network ID or slug"
          },
          {
            "name": "route_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A VPC route ID"
          }
        ],
        "tags": [
          "Virtual Private Cloud"
        ],
        "description": "[block:callout]\n{\n  \"type\": \"danger\",\n  \"body\": \"This is an alpha API call and should be considered very unstable. Please do not execute this in a production environment. See our [versioning guidelines](doc:versioning) for more information.\"\n}\n[/block]",
        "summary": "Delete a network route"
      }
    }
  },
  "definitions": {
    "NetworkPolicySpecPolicyType": {
      "type": "string",
      "enum": [
        "POLICY_TYPE_NOT_SPECIFIED",
        "INGRESS",
        "EGRESS"
      ],
      "default": "POLICY_TYPE_NOT_SPECIFIED"
    },
    "RouteGatewaySelector": {
      "type": "object",
      "properties": {
        "interfaceSelectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkMatchExpression"
          },
          "description": "List of match expressions that must all match a single interface"
        }
      }
    },
    "RouteStatusState": {
      "type": "string",
      "enum": [
        "ROUTE_STATUS_UNSPECIFIED",
        "RUNNING",
        "NO_GATEWAY",
        "DELETING"
      ],
      "default": "ROUTE_STATUS_UNSPECIFIED",
      "description": "- ROUTE_STATUS_UNSPECIFIED: Route in this region is in an undefined state\n - RUNNING: Route has 1 or more assigned gateways and is correctly configured in this region\n - NO_GATEWAY: Route does not have any assigned gateways but is configured in this region\n - DELETING: Route is being deleted from the region"
    },
    "apiStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiStatusDetail"
          }
        }
      }
    },
    "apiStatusDetail": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "required": [
        "@type"
      ],
      "discriminator": "@type"
    },
    "v1IPFamily": {
      "type": "string",
      "enum": [
        "UNSPECIFIED",
        "IPv4",
        "IPv6"
      ],
      "default": "UNSPECIFIED"
    },
    "networkCreateNetworkRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The network's human-readable name"
        },
        "slug": {
          "type": "string",
          "description": "The network's machine-readable name"
        },
        "rootSubnet": {
          "type": "string",
          "description": "The network's primary subnet, in CIDR notation format"
        },
        "metadata": {
          "$ref": "#/definitions/networkMetadata"
        },
        "ipv6Subnet": {
          "type": "string"
        },
        "ipFamilies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1IPFamily"
          },
          "description": "IPFamilies of IPs which will be assigned to network interface"
        }
      },
      "title": ""
    },
    "networkCreateNetworkResponse": {
      "type": "object",
      "properties": {
        "network": {
          "$ref": "#/definitions/networkNetwork"
        }
      },
      "description": "A response from a request to create a network"
    },
    "networkCreateRouteRequest": {
      "type": "object",
      "properties": {
        "route": {
          "$ref": "#/definitions/networkRoute"
        }
      },
      "title": ""
    },
    "networkCreateRouteResponse": {
      "type": "object",
      "properties": {
        "route": {
          "$ref": "#/definitions/networkRoute"
        }
      },
      "description": "A response from a request to create a route on a network"
    },
    "networkGetNetworkResponse": {
      "type": "object",
      "properties": {
        "network": {
          "$ref": "#/definitions/networkNetwork"
        }
      },
      "description": "The requested VPC network"
    },
    "networkGetNetworksResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkNetwork"
          }
        }
      },
      "description": "The requested VPC networks"
    },
    "networkGetRouteResponse": {
      "type": "object",
      "properties": {
        "route": {
          "$ref": "#/definitions/networkRoute"
        }
      },
      "description": "A response to retrieve an individual route on a network"
    },
    "networkGetRoutesResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkRoute"
          }
        }
      },
      "description": "A response to retrieve any routes on a given network"
    },
    "networkMatchExpression": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The name of the selector to perform a match against\n\nProvide the key `workload.platform.stackpath.net/workload-slug` to select EdgeCompute workloads by their slug. All network interfaces in the workload are used as the route's gateway."
        },
        "operator": {
          "type": "string",
          "description": "The operation to perform to match a selector\n\nValid values are \"in\" with support for more possible in the future"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The values to match in the selector"
        }
      },
      "description": "An expression to match selectors against a set of values"
    },
    "networkMetadata": {
      "type": "object",
      "properties": {
        "annotations": {
          "$ref": "#/definitions/networkStringMapEntry"
        },
        "labels": {
          "$ref": "#/definitions/networkStringMapEntry"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "description": "The date that a metadata entry was created"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "description": "The date that a metadata entry was last updated"
        },
        "deleteRequestedAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "description": "The date that an entity was requested for deletion"
        },
        "version": {
          "type": "string",
          "description": "An entity's version number\n\nVersions start at 1 when they are created and increment by 1 every time they are updated."
        }
      },
      "description": "Metadata associated with an entity"
    },
    "networkNetwork": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "A network's unique identifier"
        },
        "name": {
          "type": "string",
          "description": "A network's human-readable name"
        },
        "slug": {
          "type": "string",
          "description": "A network's machine-readable name"
        },
        "metadata": {
          "$ref": "#/definitions/networkMetadata"
        },
        "rootSubnet": {
          "type": "string",
          "description": "A subnet identifier and network mask in CIDR notation format\n\nA network's root subnet is its primary subnet."
        },
        "virtualNetworkIdentifier": {
          "type": "integer",
          "format": "int32",
          "description": "A network's VLAN identifier"
        },
        "stackId": {
          "type": "string",
          "description": "The ID of the stack that a network belongs to"
        },
        "ipv6Subnet": {
          "type": "string"
        },
        "ipFamilies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A network defined within a Virtual Private Cloud"
    },
    "networkRoute": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "A route's unique identifier"
        },
        "name": {
          "type": "string",
          "description": "A route's human-readable name"
        },
        "slug": {
          "type": "string",
          "description": "A route's machine-readable name"
        },
        "stackId": {
          "type": "string",
          "readOnly": true,
          "description": "The ID of the stack that a route belongs to"
        },
        "networkId": {
          "type": "string",
          "readOnly": true,
          "description": "The ID or slug of the VPC network that a route belongs to"
        },
        "metadata": {
          "$ref": "#/definitions/networkMetadata"
        },
        "statuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkRouteStatus"
          },
          "readOnly": true,
          "description": "The status of a route in different regions"
        },
        "destinationPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A route's destination network prefix, in CIDR format"
        },
        "gatewaySelectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RouteGatewaySelector"
          },
          "description": "Selectors that determine which EdgeCompute workload network interfaces should be be used as the route's gateway\n\nSelectors are applied to the route in order, with the highest priority assigned to the first gateway."
        }
      }
    },
    "networkRouteStatus": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "The region in which a route's status resides\n\nRegions take the form `<pop name>-<cluster name>`, where `pop` is a StackPath EdgeCompute POP and `cluster` is a networking cluster within that POP.",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/RouteStatusState",
          "readOnly": true
        },
        "gatewayIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "A list of route gateway IPs in the region"
        }
      }
    },
    "networkStringMapEntry": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "A string to string key/value pair"
    },
    "networkUpdateNetworkRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The network's new name"
        },
        "metadata": {
          "$ref": "#/definitions/networkMetadata"
        }
      },
      "title": ""
    },
    "networkUpdateNetworkResponse": {
      "type": "object",
      "properties": {
        "network": {
          "$ref": "#/definitions/networkNetwork"
        }
      },
      "description": "A response from a request to update a network"
    },
    "networkUpdateRouteRequest": {
      "type": "object",
      "properties": {
        "route": {
          "$ref": "#/definitions/networkRoute"
        }
      },
      "title": ""
    },
    "networkUpdateRouteResponse": {
      "type": "object",
      "properties": {
        "route": {
          "$ref": "#/definitions/networkRoute"
        }
      },
      "description": "A response from an update to a route on a network"
    },
    "paginationPageInfo": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "string",
          "description": "The total number of items in the dataset"
        },
        "hasPreviousPage": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether or not a previous page of data exists"
        },
        "hasNextPage": {
          "type": "boolean",
          "format": "boolean",
          "description": "Whether or not another page of data is available"
        },
        "startCursor": {
          "type": "string",
          "description": "The cursor for the first item in the set of data returned"
        },
        "endCursor": {
          "type": "string",
          "description": "The cursor for the last item in the set of data returned"
        }
      },
      "description": "Information about a paginated response\n\nThis is modeled after the GraphQL Relay spec to support both cursor based pagination and traditional offset based pagination."
    },
    "stackpath.rpc.BadRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "fieldViolations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.BadRequest.FieldViolation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.BadRequest.FieldViolation": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.Help": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "links": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.Help.Link"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.Help.Link": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.LocalizedMessage": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "locale": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.PreconditionFailure": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "violations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.PreconditionFailure.Violation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.PreconditionFailure.Violation": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.QuotaFailure": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "violations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.QuotaFailure.Violation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.QuotaFailure.Violation": {
      "type": "object",
      "properties": {
        "subject": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.RequestInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "requestId": {
              "type": "string"
            },
            "servingData": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.ResourceInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "resourceType": {
              "type": "string"
            },
            "resourceName": {
              "type": "string"
            },
            "owner": {
              "type": "string"
            },
            "description": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.RetryInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "retryDelay": {
              "type": "string"
            }
          }
        }
      ]
    },
    "v1Action": {
      "type": "string",
      "enum": [
        "UNDEFINED",
        "BLOCK",
        "ALLOW"
      ],
      "default": "UNDEFINED",
      "description": "Which action to apply"
    },
    "v1CreateNetworkPolicyRequest": {
      "type": "object",
      "properties": {
        "networkPolicy": {
          "$ref": "#/definitions/v1NetworkPolicy"
        }
      },
      "title": ""
    },
    "v1CreateNetworkPolicyResponse": {
      "type": "object",
      "properties": {
        "networkPolicy": {
          "$ref": "#/definitions/v1NetworkPolicy"
        }
      },
      "description": "A response from a request to add a network policy to a stack"
    },
    "v1Egress": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Detailed summary of what the egress rule does"
        },
        "action": {
          "$ref": "#/definitions/v1Action"
        },
        "to": {
          "$ref": "#/definitions/v1HostRule"
        },
        "protocols": {
          "$ref": "#/definitions/v1Protocols"
        }
      },
      "description": "An outbound rule from workload instances"
    },
    "v1GetNetworkPoliciesResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1NetworkPolicy"
          },
          "description": "The requested network policies"
        }
      },
      "description": "A response from a request to retrieve a stack's network policies"
    },
    "v1GetNetworkPolicyResponse": {
      "type": "object",
      "properties": {
        "networkPolicy": {
          "$ref": "#/definitions/v1NetworkPolicy"
        }
      },
      "description": "A response from a request to get a network policy to a stack"
    },
    "v1HostRule": {
      "type": "object",
      "properties": {
        "ipBlock": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1IpBlock"
          },
          "description": "List of ip blocks"
        },
        "instanceSelectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkMatchExpression"
          },
          "description": "List of instance selectors"
        },
        "networkSelectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkMatchExpression"
          },
          "description": "List of network selectors"
        }
      },
      "description": "Defines IPs, instances, or networks"
    },
    "v1Ingress": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Detailed summary of what the ingress rule does"
        },
        "action": {
          "$ref": "#/definitions/v1Action"
        },
        "from": {
          "$ref": "#/definitions/v1HostRule"
        },
        "protocols": {
          "$ref": "#/definitions/v1Protocols"
        }
      },
      "description": "An inbound rule to workload instances"
    },
    "v1IpBlock": {
      "type": "object",
      "properties": {
        "cidr": {
          "type": "string",
          "description": "A subnet that will define all the IPs allowed by a rule"
        },
        "except": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of subnets that will be excluded from the above subnet\n\nThis allows a convenient way to allow multiple ip ranges in a single expression"
        }
      },
      "description": "Defines an IP block"
    },
    "v1NetworkPolicy": {
      "type": "object",
      "properties": {
        "stackId": {
          "type": "string",
          "readOnly": true,
          "description": "The ID of the stack that a network policy belongs to"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "A network policy's unique identifier"
        },
        "name": {
          "type": "string",
          "description": "A network policy's name as it appears in the StackPath portal"
        },
        "slug": {
          "type": "string",
          "description": "A network policy's programmatic name\n\nNetwork policy slugs are used to build its instances names"
        },
        "description": {
          "type": "string",
          "description": "Detailed summary of what the policy does"
        },
        "metadata": {
          "$ref": "#/definitions/networkMetadata"
        },
        "spec": {
          "$ref": "#/definitions/v1NetworkPolicySpec"
        }
      },
      "description": "A network policy\n\nNetwork policies define an ACL that applies to one or many workload instances"
    },
    "v1NetworkPolicySpec": {
      "type": "object",
      "properties": {
        "instanceSelectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkMatchExpression"
          },
          "description": "A selector to match workload instances"
        },
        "networkSelectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkMatchExpression"
          },
          "description": "A selector to match networks"
        },
        "policyTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkPolicySpecPolicyType"
          },
          "description": "A list of policy types\n\nPolicy types are used to specify what rules will be defined. If a policy type is given but not defined it will default. If it is not provided then no action will be used."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "A policy's priority among other network policies. 1 - 65000\n\nNetwork policies apply to all compute workloads on the stack. Lower values have a higher priority, and priorities must be unique across the stack. Use the special value 65534 to apply the same priority to different workload instances in the same stack, identified by their selectors."
        },
        "ingress": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Ingress"
          },
          "description": "A list of rules for inbound traffic to instances\n\nIf the ingress policy type is given but not defined here the default is to block all"
        },
        "egress": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Egress"
          },
          "description": "A list of rules for outbound traffic from instances\n\nIf the egress policy type is given but not defined here the default is to allow all"
        }
      },
      "description": "The specification for the desired state of a network policy"
    },
    "v1ProtocolAh": {
      "type": "object",
      "description": "Authentication Header (AH) protocol matching"
    },
    "v1ProtocolEsp": {
      "type": "object",
      "description": "Encapsulating Security Payload (ESP) protocol matching"
    },
    "v1ProtocolGre": {
      "type": "object",
      "description": "Generic Routing Encapsulation (GRE) protocol matching"
    },
    "v1ProtocolIcmp": {
      "type": "object",
      "description": "ICMP protocol matching"
    },
    "v1ProtocolTcp": {
      "type": "object",
      "properties": {
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of destination ports to allow 1-65535"
        },
        "sourcePorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of source ports to allow 1-65535, defaults to 1000-65535"
        }
      },
      "description": "TCP protocol matching"
    },
    "v1ProtocolTcpUdp": {
      "type": "object",
      "properties": {
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of destination ports to allow 1-65535"
        },
        "sourcePorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of source ports to allow 1-65535, defaults to 1000-65535"
        }
      },
      "description": "TCP or UDP protocol convenience matching"
    },
    "v1ProtocolUdp": {
      "type": "object",
      "properties": {
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of destination ports to allow 1-65535"
        },
        "sourcePorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of source ports to allow 1-65535, defaults to 1000-65535"
        }
      },
      "description": "UDP protocol matching"
    },
    "v1Protocols": {
      "type": "object",
      "properties": {
        "tcp": {
          "$ref": "#/definitions/v1ProtocolTcp"
        },
        "udp": {
          "$ref": "#/definitions/v1ProtocolUdp"
        },
        "tcpUdp": {
          "$ref": "#/definitions/v1ProtocolTcpUdp"
        },
        "icmp": {
          "$ref": "#/definitions/v1ProtocolIcmp"
        },
        "ah": {
          "$ref": "#/definitions/v1ProtocolAh"
        },
        "esp": {
          "$ref": "#/definitions/v1ProtocolEsp"
        },
        "gre": {
          "$ref": "#/definitions/v1ProtocolGre"
        }
      },
      "description": "An object of all supported protocols and any attributes for them"
    },
    "v1UpdateNetworkPolicyRequest": {
      "type": "object",
      "properties": {
        "networkPolicy": {
          "$ref": "#/definitions/v1NetworkPolicy"
        }
      },
      "title": ""
    },
    "v1UpdateNetworkPolicyResponse": {
      "type": "object",
      "properties": {
        "networkPolicy": {
          "$ref": "#/definitions/v1NetworkPolicy"
        }
      },
      "description": "A response from a request to update a network policy"
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://gateway.stackpath.com/identity/v1/oauth2/token"
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "externalDocs": {
    "description": "The StackPath API Reference",
    "url": "https://stackpath.dev/reference"
  },
  "x-explorer-enabled": true,
  "x-proxy-enabled": true,
  "x-samples-enabled": true,
  "x-samples-languages": [
    "curl",
    "node",
    "ruby",
    "javascript",
    "python"
  ]
}